[submodule "vim/bundle/vim-colors-sampler"]
	path = vim/bundle/vim-colors-sampler
	url = https://github.com/vim-scripts/Color-Sampler-Pack
[submodule "vim/bundle/vim-plugin-nerdcommenter"]
	path = vim/bundle/vim-plugin-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-plugin-nerdtree"]
	path = vim/bundle/vim-plugin-nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-plugin-snipmate"]
	path = vim/bundle/vim-plugin-snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "vim/bundle/vim-plugin-surround"]
	path = vim/bundle/vim-plugin-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-plugin-autopairs"]
	path = vim/bundle/vim-plugin-autopairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rake"]
	path = vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-html5"]
	path = vim/bundle/vim-html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-tomorrow"]
	path = vim/bundle/vim-tomorrow
	url = https://github.com/chriskempson/Vim-Tomorrow-Theme.git
[submodule "vim/bundle/vim-blockle"]
	path = vim/bundle/vim-blockle
	url = https://github.com/jgdavey/vim-blockle.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-symbols-strings"]
	path = vim/bundle/vim-symbols-strings
	url = https://github.com/rorymckinley/vim-symbols-strings.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
